$day-color: #eee;
$picked-day-color: #ffbfcb;
$day-size: 100px;
$gap: 1px;
$font-stack: Arial, Helvetica, sans-serif;
$columns: 7;
$days: (
  0: 'mon',
  1: 'tue',
  2: 'wed',
  3: 'thu',
  4: 'fri',
  5: 'sat',
  6: 'sun',
);
