$day-color: #eee;
$picked-day-color: #ffbfcb;
$day-size: 100px;
$gap: 1px;
$font-stack: Arial, Helvetica, sans-serif;
$columns: 7;

$day-border-width: 1px;
$day-border-color: black;

$days: (
  0: sun,
  1: mon,
  2: tue,
  3: wed,
  4: thu,
  5: fri,
  6: sat
);
